<div class = 'form-row'>
	<div class = 'col-md-8'>
		<div class = 'form-group'>
			<label class = 'form-label' for = 'title'>Title</label>
			<input class = 'form-control form-control-lg' id = 'title'
						 name = 'title' type = 'text' autocomplete = 'off' autofocus
						 value = '<%= game.title %>'>
		</div>

		<div class = 'form-group'>
			<label class = 'form-label' for = 'tagline'>Tagline</label>
			<input class = 'form-control' id = 'tagline'
						 name = 'tagline' type = 'text' autocomplete = 'off'
						 value = '<%= game.tagline %>'>
		</div>

		<div class = 'form-group'>
			<label class = 'form-label' for = 'genre'>Genre</label>
			<select class = 'form-control' id = 'genre' name = 'genre'>
				<% genres.forEach(genre => { %>
					<% if(genre._id.equals(game.genre)) { %>
						<option selected value = '<%= genre._id %>'><%= genre.name %></option>
					<% } else { %>
						<option value = '<%= genre._id %>'><%= genre.name %></option>
					<% } %>
				<% }) %>
			</select>
		</div>

		<div class = 'form-group'>
			<label class = 'form-label' for = 'description'>Description</label>
			<textarea class = 'form-control' id = 'description' name = 'description'
								rows = '5'><%= game.description %></textarea>
		</div>
	</div>

	<div class = 'col-md-4' align = 'center'>
		<label align = 'left'>Cover image</label>
		<input name = 'cover' type = 'file'>
	</div>
</div>