<h2 class = 'my-4'>
	Edit game
</h2>

<form action = '/game/<%= game.slug %>/edit/?_method=PATCH' method = 'post'>

	<%- include('../partials/formFields', {includeUpload: false}) %>

	<%- include('../partials/errorMessage') %>

	<div class = 'text-right'>
		<a class = 'btn btn-outline-danger' href = '/game/<%= game.slug %>'>Cancel</a>
		<button class = 'btn btn-dark' type = 'submit'>Save</button>
	</div>

</form>

<%- include('../partials/deleteForm', { slug: game.slug }) %>
