<form action = '/game' method = 'post'>

	<label for = 'title'>Title</label>
	<input id = 'title' name = 'title' type = 'text' autocomplete = 'off' autofocus
				 value = '{{game.title}}'>

	<br>

	<label for = 'tagline'>Tagline</label>
	<input id = 'tagline' name = 'tagline' type = 'text' autocomplete = 'off'
				 value = '{{game.tagline}}'>

	<br>

	<label for = 'genre'>Genre</label>
	<select id = 'genre' name = 'genre'>
		{{#each genres}}
			<option value = '{{this._id}}'>{{this.name}}</option>
		{{/each}}
	</select>

	<br>

	<label for = 'description'>Description</label>
	<textarea id = 'description' name = 'description' cols = '30' rows = '10'>{{game.description}}</textarea>

	<br>

	{{>errorMessage}}

	<button type = 'submit'>Submit</button>

</form>