<h2 class = 'my-4'>
	All games
</h2>

<form method = 'GET' action = '/' class = 'ml-auto mb-4'>
	<div class = 'input-group'>
		<input name = 'title' class = 'form-control w-50'
					 placeholder = 'Search...' value='<%= query.title %>'>

		<select class = 'custom-select' name = 'genre'>
			<option selected value = ''>Choose genre...</option>

			<% genres.forEach(genre => { %>
				<% if(genre.name === query.genre) { %>
					<option selected value = '<%= genre.name %>'><%= genre.name %></option>
				<% } else { %>
					<option value = '<%= genre.name %>'><%= genre.name %></option>
				<% } %>
			<% }) %>
		</select>

		<div class = 'input-group-append'>
			<button class = 'btn btn-dark' type = 'submit'>Go</button>
		</div>
	</div>
</form>

<% if(games.length === 0) { %>
	<p class = 'text-muted text-center mt-5'>
		No games to show. Go ahead and <a class = 'text-muted' href = '/game/new'>
			<u>create one!</u>
		</a>
	</p>
<% } else { %>
	<div class = 'row'>
		<% games.forEach(game => { %>
			<div class = 'col-lg-3 col-md-4 col-sm-4 col-6'>
				<div class = 'card-transparent mb-4'>
					<a href = '/game/<%= game.slug %>'>
						<div class = 'card-img-top'>
							<img class = 'img-fluid' src = '<%= game.cover %>'>
						</div>

						<h5 class = 'card-title text-dark mt-2'><%= game.title %></h5>
					</a>
				</div>
			</div>
		<% }) %>
	</div>
<% } %>
